.flex-container {
  display: flex;
  align-items: flex-start; 
  gap: 20px; 
}


.flex-container img {
  width: 200px; 
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.flex-container .text-content {
  max-width: 600px;
}

.text-content h3 {
  margin-top: 0;
}