.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.block-center {
  text-align: center;
}

/* Skeleton анимация */
.skeleton-loading {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
  display: block; /* Ensure the element is visible */
}

.rollover-skeleton {
  width: 400px; /* Default width for rollover images */
  height: 300px; /* Default height for rollover images */
  margin: 0 auto; /* Center the skeleton */
}

.rollover-skeleton-200 {
  width: 200px;
  height: 150px;
  margin: 0 auto;
}

.partner-skeleton {
  width: 200px;
  height: 356px;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
